* {
  all: unset;
  font-family: "MesloLGM Nerd Font";
}

.bar-container {
  padding: 8px 10px 0px 10px;
}

.island {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgb(215, 127, 0);
    border-radius: 10px;
    padding: 0 10px;
}

.island.left {
  min-width: 150px;
}

.cpu-gpu-widget {
  min-width: 25px;
}

.cpu-usage, .gpu-usage {
  min-width: 10px;
}

.clock {
  padding: 0px 10px 0px 10px;
  font-family: "MesloLGM Nerd Font Mono";
}

.spotify, .mullvad { // Idk why these need to be special
 padding-right: 14px;
 font-size: 19px;
}

// Almost everything gets a bigger font-size
.cpu-usage, .gpu-usage, .memory-widget, .workspace-btn, .clock, .popup {
  font-size: 17px;
}

.workspace-btn.active {
  background-color: rgba(100, 100, 100, 0.4);
}

.icon-label {
  font-family: "sketchybar-app-font";
  font-size: 16px;
}
